Question 1:
Consider the following Python module:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2

After importing the module into the interpreter, you execute:
b()
b()
b()
a
?

What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [7]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2
b()
b()
b()
a

6

Question 2:

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

fileLength('midterm.py')
284

fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:

fileLength('midterm.py')
358

fileLength('idterm.py')
File idterm.py not found

In [5]:
def fileLength(filename):
    " takes the name of a file as input and returns the length of the file"
    try:
        infile = open (filename,'r')
        content = infile.read ()
        length = len(content)
        print (length)
        infile.close()
    except :
        print ("File {} not found".format (filename))
fileLength("idterm.py")

File idterm.py not found

Question 3:

Write a class named Marsupial that can be used as shown below:

m = Marsupial() 

m.put_in_pouch('doll')

m.put_in_pouch('firetruck')

m.put_in_pouch('kitten') 

m.pouch_contents()
['doll', 'firetruck', 'kitten' at coordinates (3,0tten']

In [8]:
class Marsupial:
    "Class enques unlimited number of items and print out all the queue"
    def __init__(self):
        self.q = []

    def put_in_pouch (self, item):
        return self.q.append(item)

    def pouch_contents(self):
        return self.q
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: a. extends the Marsupial
init constructor to take, as input, the coordinates x and y of the Kangaroo object, b. supports method jump that takes number values dx and 
dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and c. overloads the str operator so it 
behaves as shown below. k = Kangaroo(0,0) print(k) I am a Kangaroo located at coordinates (0,0) k.put_in_pouch('doll') 
k.put_in_pouch('firetruck') k.put_in_pouch('kitten') k.pouch_contents() ['doll', 'firetruck', 'kitten'] k.jump(1,0) k.jump(1,0) k.jump(1,0) print(k) I 
am a Kangaroo located at coordinates (3,0)

In [9]:
class Kangaroo (Marsupial):
    "Subclass of class Marsupial , takes x and y coordinates and print out a statement defining the animal and the location in coordinates"
    
    def __init__(self,xcoord=0,ycoord=0):
        self.q = []
        self.x = xcoord
        self.y = ycoord
        
        
    def jump (self,dx,dy):
        self.x+=dx
        self.y+=dy
        
    def __str__(self):
        
        return ('Iam a Kangaroo located at coordinates ({},{})'.format(self.x, self.y))
k = Kangaroo(0,0)
print(k)

Iam a Kangaroo located at coordinates (0,0)

In [10]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [11]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

Iam a Kangaroo located at coordinates (3,0)

Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = { 洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops 
collatz(1)
1
collatz(10)
10
5
16
8
4
2
1

In [12]:
def collatz(n): 
      
    while n != 1: 
        print(n, end = ' ') 
  
        if n %2 !=0 : 
            n = 3 * n + 1
  
        # If even  
        else: 
            n = n // 2
  
    print(n) 
  
collatz(10)

10 5 16 8 4 2 1

Question 5

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [1]:
def binary(x):
    if x == 0:
        return 0     #if input is 0, output will be 0
    else:
        binary(x//2)    #print binary values
    print(x % 2,end = '')

In [2]:
binary(0)

0

In [3]:
binary(1)

1

In [4]:
binary(3)

11

In [5]:
binary(9)

1001

Question 6

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)
W3C Mission
Principles

In [15]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    Headings = ["h1","h2"]
    current = -1
    
    def handle_starttag(self, tag, attrs):
        if tag in HeadingParser.Headings:     #check for headers from the Heading List
            HeadingParser.current = HeadingParser.Headings.index(tag)
    
    def handle_endtag(self,tag):               # End tag Handler
        if tag == HeadingParser.Headings[HeadingParser.current]:
            HeadingParser.Current = -1
            
    def handle_data(self,data):    #setting Printing identation for Heading tags
        if HeadingParser.current >= 0:
            print(" "*HeadingParser.current+data)

In [13]:
infile = open("w3c.txt")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission


 Principles

Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

In [38]:
from urllib.request import urlopen
from urllib.parse import urlparse
from urllib.parse import urljoin
from html.parser import HTMLParser

class LinkParser(HTMLParser):
    
    def __init__(self, url):
                                            #here, we are initializing parser, the url and the list.
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
                                              #Search for href attribute
            for attr, value in attrs:
                if attr == 'href':
                    url1 = urljoin(self.url, value)
                    self.links.append(url1)

def webdir(url, depth, indent):
    if depth == 0:                            #Base condition for the recursive function
        return

    
    print(" " * indent + url)                 #Printing the current URL with the indentation

    try:
        response = urlopen(url)
    except:
        return

    if not response.getheader("Content-Type").startswith("text/html"):   #Checking whether the response header for URL that was fetched starts with the string "text/html"
        return

    html = response.read()         #Obtaining links in the web-page
    html = response.decode()
    parser = LinkParser(url)
    parser.feed(html)
    links = parser.links
    
    for link in links:
        webdir(link, depth-1, indent+1)

In [39]:
webdir("http://reed.cs.depaul.edu/lperkovic/csc242/test1.html", 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

Question 8

Write SQL queries on the below database table that return:
|City   |Country             |Season    |Tempreture(c)  |Rainfall(mm) |
|:------|--------------------|----------|---------------|------------:|
|Mumbai |India               |Winter    |24.8           |5.9          |
|Mumbai |India               |Spring    |28.4           |16.2         |
|Mumbai |India               |Summer    |27.9           |1549.4       |
|Mumbai |India               |Fall      |27.6           |346.0        |
|Mumbai |India               |Winter    |24.8           |5.9          |
|London |United Kingdom      |Winter    |4.2            |207.7        |
|London |United Kingdom      |Spring    |8.3            |169.6        |
|London |United Kingdom      |Summer    |15.7           |157.0        |
|London |United Kingdom      |Fall      |10.4           |218.5        |
|Cairo  |Egypt               |Winter    |13.6           |16.5         |
|Cairo  |Egypt               |Spring    |20.7           |6.5          |
|Cairo  |Egypt               |Summer    |27.7           |0.1          |
|Cairo  |Egypt               |Fall      |22.2           |4.5          |t Fall 22.2 4.5

In [14]:
import sqlite3
connnection = sqlite3.connect('sample.db')    #Sample Datababase Connection
cur = connnection.cursor()
cur.execute("CREATE TABLE weather (City text, Country text, Season text,Temperature float,Rainfall float)")
#Create Table for City Weather Data

In [15]:
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

(a) part :- All the temperature data

In [16]:
cur.execute('SELECT Temperature FROM weather')
content=cur.fetchall()
for cells in content:
    print(cells)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

(b) part :- All the cities, but without repetition

In [17]:
cur.execute('SELECT DISTINCT City FROM weather')
content=cur.fetchall()
for cells in content:
    print(cells)

('Mumbai',)
('London',)
('Cairo',)

(c) part :- All the records for India

In [19]:
cur.execute('SELECT * FROM weather WHERE Country="India"')
content=cur.fetchall()
for cells in content:
    print(cells)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

(d) part :- All the Fall records

In [20]:
cur.execute('SELECT * FROM weather WHERE Season="Fall"')
content=cur.fetchall()
for cells in content:
    print(cells)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

(e) part :- The city, country, and season for which the average rainfall is between 200
and 400 millimeters

In [21]:
cur.execute('SELECT City, Country, Season FROM weather WHERE Rainfall BETWEEN 200 AND 400 ')
content=cur.fetchall()
for cells in content:
    print(cells)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

(f) part :- The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order

In [22]:
cur.execute('SELECT City, Country FROM weather WHERE Season = "Fall" AND Temperature > 20 ORDER BY Temperature ASC ')
content=cur.fetchall()
for cells in content:
    print(cells)

('Cairo', 'Egypt')
('Mumbai', 'India')

(g) part :- The total annual rainfall for Cairo

In [23]:
cur.execute('SELECT SUM(Rainfall) FROM weather WHERE City = "Cairo"')
content=cur.fetchall()
for cells in content:
    print(cells)

(27.6,)

(h) part :- The total rainfall for each season

In [24]:
cur.execute('SELECT SUM(Rainfall) FROM weather GROUP BY Season')
content=cur.fetchall()
for cells in content:
    print(cells)

(569.0,)
(192.29999999999998,)
(1706.5,)
(230.1,)

Question 9

Suppose list words is defined as follows:
Write list comprehension expressions that use list words and generate the following
lists:

In [27]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

(a) part

In [28]:
print ([items.upper() for items in words])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

(b) part

In [29]:
print ([items.lower() for items in words])

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

(c) part

In [30]:
print ([len(items) for items in words])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

(d) part

In [31]:
print ([[items.upper(),items.lower(),len(items)] for items in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

(e) part

In [32]:
print ([items for items in words if len(items)>=4])

['quick', 'brown', 'jumps', 'over', 'lazy']